<h1>Bienvenue au Nantes Java User Group</h1>

<p class="lead">

</p>

<p>
  Le Nantes-JUG une association pour parler technique : Langages, outils, technos, bonnes pratiques ! Ce groupe d'utilisateurs Java a pour but de réunir les acteurs du langage (professionnels, communautés open source, institutions, étudiants, enseignants...) afin d'échanger des idées et de discuter des avancées technologiques de la plateforme Java.<br/>

  Intéressé pour en savoir plus, vous investir dans l'aventure nantaise, participer, ou tout simplement suivre nos rencontres, n'hésitez pas, c'est libre et gratuit.<br/>

  Nous vous invitons également à rejoindre notre groupe sur et nous suivre sur Twitter @nantesjug.<br/>

  Nous nous retrouvons le deuxième mercredi de chaque mois pour discuter d'un thème, d'une technologie ou d'un outil.
  La participation est LIBRE & GRATUITE.
</p>

<ng-include src="'views/event.html'"></ng-include>
